[Unit]
Description=xmrig on Subutai

[Service]
Type=simple
ExecStart=/opt/xmrig/xmrig --algo={{ algo }} --url={{ miningServer }} --user={{ username }} --pass={{ password }}
WorkingDirectory=/opt/xmrig

[Install]
WantedBy=multi-user.target
